# Files and folders to ignore

# 1. intermediate files
*.o
*.d


# 2. Build files

**/Build/*
!**/Build/CMakeLists.txt
!**/Build/CMAKE_README.txt

CMakeFiles
CMakeScripts
OE_PLUGIN_open-ephys-plugin-bonsai.xcodeproj
Release
cmake_install.cmake
CMakeCache.txt
